* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Code", monospace;
}

body {
    background-color: black;
    height: 100%;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
    justify-content: center;
}

.btn-contato button{

    font-size: 22px;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    color: gold;
}

 input:hover{
    box-shadow: 0px 0px 8px rgb(216, 194, 72);
    transform: scale(1.05);
    transition: 0.5s;
}

.titulo {
    color: gold;
    text-align: center;
    font-size: 60px;
    margin: 50px 0;
}

span{
    color: gold;
    font-weight: bold;
}

header {
    margin: 20px 4%;
    
    transform: scale(1.05);
    & a{
        color: gold;
        text-decoration: none;
        display: inline-block;
        padding: 15px 25px;
        font-weight: 600;
        background-color: rgba(255, 255, 255, 0);
        border-radius: 30px;
        cursor: pointer;
        border: 0;
        color: gold;
    }
    
    & a:hover{
        box-shadow: 0px 0px 8px rgb(216, 194, 72);
        transform: scale(1.05);
        transition: 0.5s;
    }
    
    & nav{
        list-style-type: none;
    }

    & > .interface {
        display: flex;
        align-items: center;
        justify-content: space-between;    
    }

    & nav ul li{
        display: inline-block;
        padding: 0 40px;
    }
    
    & img{
        width: 23vh;
    }
}




section.topo-do-site {
    padding: 40px 4%;
    margin-top: 30px;

    &.topo-do-site .flex{
        align-items: center;
        justify-content: center;
        gap: 90px;
    }

    &.topo-do-site h1{
        font-size: 40px;
        line-height: 40px;
        color: #fff;
        text-transform: uppercase;  
        margin: 30px 0;
    }
    
    &.topo-do-site .txt-topo-site p{
        color: #fff;
        margin: 40px 0;
        font-size: 25px;

    }
    
    &.topo-do-site h1 span {
        color: gold;
        font-weight: bold;
    }
    
    &.topo-do-site .img-topo-site img{
        position: relative;
        height: 45vh;
        animation: flutuar 2s ease-in-out infinite alternate;
    
    }
}

@keyframes flutuar {
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}


